<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" 
           Name="Xtend" 
           Language="1033" 
           Version="VERSION_PLACEHOLDER"
           Manufacturer="Venkata Ramana Pulugari" 
           UpgradeCode="UPGRADE_CODE_GUID">
    <Package InstallerVersion="500" 
             Compressed="yes" 
             InstallScope="perMachine"/>

    <MediaTemplate EmbedCab="yes" CompressionLevel="high"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed."/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Xtend"/>
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="MainComponent" Guid="COMPONENT_GUID">
        <File Source="$(var.SourceDir)\xtend.exe" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <Feature Id="MainFeature" Title="Xtend" Level="1">
      <ComponentRef Id="MainComponent"/>
    </Feature>

    <UIRef Id="WixUI_InstallDir"/>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>
  </Product>
</Wix>