<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" 
           Name="Xtend" 
           Language="1033" 
           Version="VERSION_PLACEHOLDER"
           Manufacturer="Venkata Ramana Pulugari" 
           UpgradeCode="030c5df9-c0c4-4ace-9acf-3cbdc2f2a278">
    <Package InstallerVersion="500" 
             Compressed="yes" 
             InstallScope="perMachine" 
             Manufacturer="Venkata Ramana Pulugari" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of Xtend is already installed." />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Xtend" />
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="MainComponent" Guid="030c5df9-c0c4-4ace-9acf-3cbdc2f2a278">
        <File Id="XtendEXE" 
              Source="$(sys.SOURCEFILEDIR)\..\dist\xtend.exe" 
              KeyPath="yes" 
              Checksum="yes"/>
      </Component>
    </DirectoryRef>

    <Feature Id="MainFeature" Title="Xtend" Level="1">
      <ComponentRef Id="MainComponent"/>
    </Feature>

    <UIRef Id="WixUI_InstallDir"/>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>
  </Product>
</Wix>