[Desktop Entry]
Name=Xtend
Comment=Screen Management Tool
Exec=xtend
Icon=xtend
Terminal=false
Type=Application
Categories=Utility;
StartupWMClass=xtend